.btn {
  text-align: center;
  button {
    font-size: 20px;
    padding: 5px 15px;
    border-radius: 10px;
    font-weight: bold;
    border: none;
    background-color: rgb(49, 35, 35);
    color: white;
  }
}
.cross {
  display: flex;
  justify-content: center;
  padding: 50px;
  &-btn {
    cursor: pointer;
    text-align: end;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: 24px;
  }
}
